:root {
	--honey-light: hsl(39, 100%, 50%);
	--honey-med: hsl(39, 90%, 22%);
	--honey-dark: hsl(38, 100%, 8%);
	/* Player 0 COlors */
	--purple-light: hsl(300, 100%, 50%);
	--purple-med: hsl(300, 90%, 22%);
	--purple-dark: hsl(300, 100%, 8%);

	/* Player 1 Colors */
	--green-light: hsl(120, 100%, 50%);
	--green-med: hsl(120, 90%, 22%);
	--green-dark: hsl(120, 100%, 8%);
}

body {
	background: var(--honey-light);
	color: whitesmoke;
}

#gameBoard {
	background-color: var(--honey-dark);
}

.hex.clickable {
	fill: var(--honey-med);
}
.player0,.purple {
	fill: var(--purple-dark);
	stroke: var(--purple-light);
	background-color: var(--purple-dark);
	color: var(--purple-light);
	border-color: var(--purple-med);
}


.player1,.green {
	fill: var(--green-dark);
	stroke: var(--blue-light);
	background-color: var(--green-dark);
	color: var(--green-light);
	border-color: var(--green-med);
}	

.honey {
	fill: var(--honey-dark);
	stroke: var(--honey-light);
	background-color: var(--honey-dark);
	color: var(--honey-light);
	border-color: var(--honey-med);
}


.black {
	fill: black;
	stroke: white;
	background-color: black;
	color: white;
}


.lastclick {
	stroke: var(--honey-light);
	stroke-width: 5;
}

.locked {
	filter: opacity(0.3);
}


.hex.hex.clickable:hover {
	/* fill: black; */
	filter: brightness(90%) saturate(50%) opacity(1.0);
}

button {
	background-color: black;
}

#submitButton,.submit-button {
	background-color: var(--honey-med);
	fill: var(--honey-med);
}
/* 
#clearButton {
	color: white;
} */

#statusBoard * {
	padding: 1%;
}